.field-label {
    font-size: 0.875em;
  }
  
.validation-error {
    color: #cc3c3c;
    font-size: 0.750em;
  }
  .full-width, .button-container, .form-details-list {
    max-width: 300px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  .red{
      color: #cc3c3c;
  }
  ::placeholder {
    opacity: .5;
  }